.wrapper {
  padding: 25px 50px;
  
}
.search-bar {
  border-radius: 46px;
  background: #F8F8F8;
  padding: 10px 12px;
  width: 90%;
  font-size: 18px;
}
.search {
  display: flex;
  justify-content: space-between;
}
.sort-button {
  background-color: #101A33;
  color: #fff;
  padding: 0px 25px;
  border-radius: 50px; 
  cursor: pointer;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #101A33;
}
a:hover {
  text-decoration: underline;
}
.ul-elem {
  font-size: 24px;
}
h3 {
  font-weight: 400;
  margin: 10px 0;
}